step_functions/pipeline_definition.json
{
  "Comment": "End-to-end retail intelligence pipeline: ETL, quality, curated catalog, warehouse build, warehouse catalog",
  "StartAt": "RunGlueETL",
  "States": {
    "RunGlueETL": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "retail-clean-job"
      },
      "Next": "RunQualityChecks",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed"
        }
      ]
    },
    "RunQualityChecks": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "retail-intelligence-quality-checks",
        "Payload": {}
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "checks.$": "$.Payload.checks"
      },
      "Next": "RunCuratedCrawler",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed"
        }
      ]
    },
    "RunCuratedCrawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "retail-curated-crawler"
      },
      "Next": "BuildWarehouse",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed"
        }
      ]
    },
    "BuildWarehouse": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "retail-build-warehouse"
      },
      "Next": "RunWarehouseCrawler",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed"
        }
      ]
    },
    "RunWarehouseCrawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "retail-warehouse-crawler"
      },
      "Next": "PipelineSucceeded",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed"
        }
      ]
    },
    "PipelineSucceeded": {
      "Type": "Succeed"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineError",
      "Cause": "One or more pipeline stages failed"
    }
  }
}