step_functions/pipeline_definition.json
{
  "Comment": "Retail intelligence pipeline: Glue ETL, quality checks, then crawler",
  "StartAt": "RunGlueETL",
  "States": {
    "RunGlueETL": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "retail-clean-job"
      },
      "Next": "RunQualityChecks",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed"
        }
      ]
    },
    "RunQualityChecks": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "retail-intelligence-quality-checks",
        "Payload": {}
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "checks.$": "$.Payload.checks"
      },
      "Next": "StartCrawler",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed"
        }
      ]
    },
    "StartCrawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "retail-curated-crawler"
      },
      "Next": "PipelineSucceeded",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed"
        }
      ]
    },
    "PipelineSucceeded": {
      "Type": "Succeed"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineError",
      "Cause": "Glue ETL, quality checks, or crawler step failed"
    }
  }
}